// displays
$d1: 3.247rem;
$d2: 3.157rem;
$d3: 3.052rem;
$d4: 2.887rem;

// headings
$h1: 2.566rem; // 38.49px
$h2: 2.281rem; // 34.21px
$h3: 2.027rem; // 30.41px
$h4: 1.802rem; // 27.03px
$h5: 1.602rem; // 24.03px
$h6: 1.424rem; // 21.36px

// subtitle
$sub: 1.125rem; // 16.88px

// body
$bdy: 1rem; // 15.00px

// captions
$c1: 0.889rem; // 13.33px
$c2: 0.79rem; //11.85px

// weights
$th: 100;
$xlt: 200;
$lt: 300;
$rg: 400;
$md: 500;
$sb: 600;
$bd: 700;
$xb: 800;
$hv: 900;

// families
$sk-modernist: "SK Modernist";
$sk-modernist-mono: "SK Modernist Mono";
